---
import MainHead from '@/components/MainHead.astro'
import AppLayout from '@/layouts/App.astro'
import AboutContent from '@/content/about.mdx'
---

<html lang="en">
  <head>
    <MainHead
      title="About | Mahalaxmi Foundry"
      description="About Jeanine White Lorem Ipsum"
    />
  </head>
  <body>
    <AppLayout>
      <div class="bg-black py-32">
        <h1 class="text-4xl lg:text-5xl font-bold text-white text-center">
          About Mahalaxmi Foundry
        </h1>
      </div>
      <div class="max-w-3xl mx-auto px-4">
        <div class="mt-12 prose-xl">
          <AboutContent />
        </div>
      </div>
    </AppLayout>
  </body>
</html>
