---
import MainHead from '@/components/MainHead.astro'
import AppLayout from '@/layouts/App.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MainHead
      title="Contact | Mahalaxmi Foundry"
      description="Contact mahalaxmi foundry"
    />
  </head>
  <body>
    <AppLayout />
  </body>
</html>
