---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
---


<!DOCTYPE html>
<html lang="en">
<head>
  <MainHead title="Contact | Mahalaxmi Foundry" description="Contact mahalaxmi foundry" />
</head>
<body>
  <Nav />
  <Footer />
</body>
</html>